<div class="container-fluid">
    <div class="row">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
            เพิ่มข้อมูลผู้ใช้
        </button>
        <div class="col-12">
            <table class="table" border="1px solid #000">
                <thead class="thead-inverse">
                    <tr align="center">
                        <th>รหัสนักศึกษา</th>
                        <th>ชื่อกิจกรรม</th>
                        <th>สถานะ</th>
                        <th>เวลาลงทะเบียน</th>
                        <th>แก้ไข</th>
                        <th>ลบ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center" *ngFor="let item of registerEventData">
                        <td>{{ item.user_id }}</td>
                        <td>{{ item.event_name }}</td>
                        <td>{{ item.status_event }}</td>
                        <td>{{ item.reg_time |date:"วันที่ dd/MM/YYYY เวลา HH:mm" }}</td>
                        <td>
                            <button class="btn btn-warning" data-toggle="modal" data-target="#editModal"
                                (click)="editModal(item)">
                                แก้ไข
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteModal({user_id:item.user_id, event_id:item.event_id})">
                                ลบ
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal fade bd-example-modal-lg" id="addModal" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            เพิ่มข้อมูลผู้ใช้
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-12 m-auto">
                            <form [formGroup]="addRegisterEventForm">
                                <div class="form-group">
                                    <label>user_id</label>
                                    <input class="form-control" id="user_id" type="text" formControlName="user_id" />
                                </div>
                                <div class="form-group">
                                    <label>event_id</label>
                                    <input class="form-control" id="event_id" type="text" formControlName="event_id" />
                                </div>
                                <div class="form-group">
                                    <label>status_event</label>
                                    <input class="form-control" id="status_event" type="text"
                                        formControlName="status_event" />
                                </div>
                                <div class="form-group">
                                    <label>image_event</label>
                                    <input class="form-control" id="image_event" type="text"
                                        formControlName="image_event" />
                                </div>
                                <div class="form-group">
                                    <label>reg_time</label>
                                    <input class="form-control" formControlName="reg_time" type="datetime-local"
                                        id="reg_time" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            ยกเลิก
                        </button>
                        <button (click)="addRegisterEvent()" type="submit" class="btn btn-primary" data-dismiss="modal">
                            บันทึกข้อมูล
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            แก้ไข
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-12 m-auto">
                            <form [formGroup]="editRegisterEventForm">
                                <div class="form-group">
                                    <label>user_id</label>
                                    <input class="form-control" id="user_id" type="text" formControlName="user_id" />
                                </div>
                                <div class="form-group">
                                    <label>event_id</label>
                                    <input class="form-control" id="event_id" type="text" formControlName="event_id" />
                                </div>
                                <div class="form-group">
                                    <label>status_event</label>
                                    <input class="form-control" id="status_event" type="text"
                                        formControlName="status_event" />
                                </div>
                                <div class="form-group">
                                    <label>image_event</label>
                                    <input class="form-control" id="image_event" type="text"
                                        formControlName="image_event" />
                                </div>
                                <div class="form-group">
                                    <label>reg_time</label>
                                    <input class="form-control" formControlName="reg_time" type="datetime-local"
                                        id="reg_time" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            ยกเลิก
                        </button>
                        <button (click)="editRegisterEvent()" type="submit" class="btn btn-primary" data-dismiss="modal">
                            บันทึกข้อมูล
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>