<div class="container">
    <div class="row">
      <div class="title">
        <span class="header">รายชื่อกิจกรรม</span>
      </div>
      <div class="content" *ngFor="let items of this.eventList">
        <button *ngIf="items.event_status ==='A'" class="items" (click)="onSubmit()">
          <span class="header">{{items.event_name}} </span>
        </button>
      </div>
      <div class="backMenu">
          <a routerLink="/home" routerLinkActive="active" class="nav-link"><i class="fas fa-chevron-circle-left"></i><span>กลับไปหน้าแรก</span></a>
      </div>
    </div>
  </div>
  