<div class="container">
  <div class="row">
    <div class="title">
      <span>รายละเอียดกิจกรรม</span>
    </div>
    <div class="content">
      <div class="eventDate row mb-0">
        <div class="eventName">
          <span style="font-size:1.2rem">กิจกรรม : {{this.eventClientDecode.event_name}}</span>
        </div>
        <div>
          <span>{{this.eventClientDecode.event_start| thaidate:'full'}}</span>
        </div>
        <div>
          <span>เวลาเริ่มกิจกรรม {{this.eventClientDecode.event_start|date:"HH:mm"}}</span><br>
          <span>เวลาจบกิจกรรม {{this.eventClientDecode.event_end|date:"HH:mm"}}</span>
        </div>
        
          <div style="padding-top:0.5rem">
            <span >รายละเอียดกิจกรรมมีดังนี้</span>
          </div>
        
        <div class="textDetail" [innerHTML]="this.eventClientDecode.event_descr" style="border:solid 1px #000"></div>
      </div>
      
      <div class="eventMenu">
        <div class="items">
          <i class="fas fa-user-check"></i>
          <span>ลงทะเบียนกิจกรรม</span>
        </div>
        <div class="items">
          <i class="fas fa-clipboard-check"></i>
          <span>ทำแบบประเมินกิจกรรม</span>
        </div>
      </div>
      <div class="backMenu">
        <a (click)="back()"><i class="fas fa-chevron-circle-left"></i><span>กลับไปเลือกกิจกรรม</span>
        </a>
      </div>
    </div>
    <!-- content -->
  </div>
</div>